%li.project{id: dom_id(project)}
  %h4= project.name
  - if project.description.present?
    %p= project.description
  %dl.dl-horizontal
    %dt URL
    %dd= link_to project.url, project.url, target: '_blank'
    - if project.github_url.present?
      %dt GitHub
      %dd= link_to project.github_url, project.github_url, target: '_blank'
