development:
  adapter: postgresql
  encoding: unicode
  database: ios-toolbox_development
  pool: 5
  username: akhkharu
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: ios-toolbox_test
  pool: 5
  username: akhkharu
  password:
